@import "tailwindcss";

@theme {
    --color-primary-light: #F2F3F5;
    --color-primary: #FFFFFF;
    --color-primary-dark: #4b0081;

    
    --font-*: initial;
    --font-ibm: "IBM Plex Sans", "sans-serif";
}

@layer {
    .hover-overflow-top-visible:hover {
  overflow: visible;
  overflow-x: hidden;
  overflow-y: clip;
}
}