<div
  class="h-64 lg:h-auto overflow-hidden rounded-2xl
            lg:col-span-3 lg:row-span-3 lg:col-start-8 lg:row-start-4"
>
  <a
    href="#"
    class="overflow-hidden bg-gradient-to-br
                           from-blue-300 via-indigo-300 to-blue-200
                           dark:from-gray-900 dark:via-indigo-900 dark:to-gray-950
                           relative block w-full h-full group"
  >
    <img
      src="/assets/lexis_macbook.png"
      alt="biurolexis.pl"
      class="w-full scale-150 absolute bottom-10 -right-40 group-hover:-right-20 group-hover:scale-160 transition-all"
    />
  </a>
</div>
