---
import LikeButton from "./LikeButton.jsx";
---

<div
  class="h-40 lg:h-auto bg-primary dark:bg-zinc-900 rounded-2xl lg:col-span-2 lg:row-span-2 lg:col-start-4 lg:row-start-5"
>
  <LikeButton client:only="react" repo="YetonDew/portfolio" />
</div>
