---
import IntroCard from "./IntroCard.astro";
import PhotoCard from "./PhotoCard.astro";
import ResumeCard from "./ResumeCard.astro";
import AboutCard from "./AboutCard.astro";
import MapCard from "./MapCard.astro";
import SixelCard from "./SixelCard.astro";
import SocialLinksRow from "./SocialLinksRow.astro";
import OrihuelaCard from "./OrihuelaCard.astro";
import SliderCard from "./SliderCard.astro";
import LikesCard from "./LikesCard.astro";
import ToggleCard from "./ToggleCard.astro";
import LexisCard from "./LexisCard.astro";
---

<section class="bg-primary-light dark:bg-black min-h-screen py-10 px-4 sm:px-7">
  <div
    class="w-full flex flex-col gap-4 lg:h-[90vh] lg:grid lg:grid-cols-10 lg:grid-rows-6"
  >
    <!-- Intro -->
    <IntroCard />

    <!-- Map -->
    <MapCard />

    <!-- Sixel -->
    <SixelCard />

    <!-- Social icons -->
    <SocialLinksRow />

    <!-- Photo -->
    <PhotoCard />

    <!-- Resume -->
    <ResumeCard />

    <!-- Orihuela project -->
    <OrihuelaCard />

    <!-- Slider -->
    <SliderCard />

    <!-- About me -->
    <AboutCard />

    <!-- Likes -->
    <LikesCard />

    <!-- Toggle -->
    <ToggleCard />

    <!-- Lexis project -->
    <LexisCard />
  </div>
</section>
