---
import Github from '../assets/github.astro';
import Linkedin from '../assets/linkedin.astro';
import Mail from '../assets/mail.astro';
import Toggle from './Toggle.astro';
import Mapa from './Map.jsx';
---


<section class="bg-primary-light dark:bg-black min-h-screen py-10 px-7">

    <div class="h-[90vh] w-full grid grid-cols-10 grid-rows-6 gap-4">
        <div class="col-span-3 row-span-2 bg-primary dark:bg-zinc-900 rounded-2xl">
            <section class="flex flex-col justify-center items-start h-full py-20 px-10 gap-4">
                <h1 class="text-3xl dark:text-white">Hi, I'm Jefferson ──</h1>
                <p class="dark:text-zinc-400">Software Engineer, currently studying at 42 Warsaw & Computer Science at PJATK.</p>
            </section>
        </div>
        <div class="col-span-2 row-span-2 col-start-4 bg-primary dark:bg-zinc-900 rounded-2xl overflow-hidden">
			<Mapa client:only />
		</div>
        <div class="col-span-2 row-span-2 col-start-6 bg-primary dark:bg-zinc-900 rounded-2xl">3</div>
        <div class="col-start-8 bg-purple-500 dark:bg-zinc-900 rounded-2xl">
            <a class="text-white dark:text-zinc-400 h-full w-full flex justify-center items-center dark:hover:text-white transition-colors" href="https://github.com/YetonDew" target="_blank" aria-label="github" title="github YetonDew">
                <Github />
            </a>
        </div>
        <div class="col-start-9 bg-blue-dark dark:bg-zinc-900 rounded-2xl">
            <a class="text-white dark:text-zinc-400 h-full w-full flex justify-center items-center dark:hover:text-white transition-colors" href="https://www.linkedin.com/in/yeton/" target="_blank" aria-label="linkedin" title="linkedin YetonDew">
                <Linkedin />
            </a>
        </div>
        <div class="col-start-10 bg-orange dark:bg-zinc-900 rounded-2xl">
            <a class="text-white dark:text-zinc-400 h-full w-full flex justify-center items-center dark:hover:text-white transition-colors" href="https://www.linkedin.com/in/yeton/" target="_blank" aria-label="linkedin" title="linkedin YetonDew">
                <Mail />
            </a>
        </div>
        <div class="col-span-2 row-span-2 col-start-1 row-start-3 bg-primary dark:bg-zinc-900 rounded-2xl relative overflow-hidden">
			<img src="../assets/me.jpg" alt="YetonDew"
			class="absolute -top-7">
		</div>
        <div class="col-span-2 row-span-2 col-start-3 row-start-3 bg-primary dark:bg-zinc-900 rounded-2xl">8</div>
		<div class="overflow-hidden col-span-3 row-span-2 col-start-8 row-start-2 rounded-2xl w-full h-full
            bg-gradient-to-br from-cyan-500 via-cyan-200 to-cyan-700
            dark:from-gray-900 dark:via-cyan-700 dark:to-gray-900">
  			<a href="#" class="relative block w-full h-full group">
    			<img src="../assets/orihuela_iphone.png" alt="orihuela.pl"
         		class="w-full scale-210 absolute -bottom-20 -right-20 group-hover:rotate-12 group-hover:scale-280 transition-transform">
  			</a>
		</div>
        <div class="col-span-3 row-span-2 col-start-5 row-start-3 bg-primary dark:bg-zinc-900 rounded-2xl">10</div>
        <div class="col-span-3 row-span-2 col-start-1 row-start-5 bg-primary dark:bg-zinc-900 rounded-2xl">11</div>
        <div class="col-span-2 row-span-2 col-start-4 row-start-5 bg-primary dark:bg-zinc-900 rounded-2xl">12</div>
        <div class="col-span-2 row-span-2 col-start-6 row-start-5 bg-primary dark:bg-zinc-900 rounded-2xl transition-all-300 flex justify-center items-center">
            <Toggle />
        </div>
<div class="col-span-3 row-span-3 col-start-8 row-start-4 bg-primary dark:bg-zinc-900 rounded-2xl overflow-hidden">
    <a href="#" class="overflow-hidden bg-gradient-to-br
                       from-blue-300 via-indigo-300 to-blue-200
                       dark:from-gray-900 dark:via-indigo-900 dark:to-gray-950
                       relative block w-full h-full group">
        <img src="../assets/lexis_macbook.png" alt="biurolexis.pl"
             class="w-full scale-150 absolute bottom-10 -right-40 group-hover:-right-20 group-hover:scale-160 transition-all">
    </a>
</div>
    </div>

</section>
