---
import Github from '../assets/github.astro';
import Linkedin from '../assets/linkedin.astro';
import Mail from '../assets/mail.astro';
---


<section class="bg-primary-light min-h-screen py-10 px-7">

    <div class="h-[90vh] w-full grid grid-cols-10 grid-rows-6 gap-4">
        <div class="col-span-3 row-span-2 bg-primary rounded-2xl">
            <section class="flex flex-col justify-center items-start h-full py-20 px-10 gap-4">
                <h1 class="text-3xl font-ibm">Hi, I'm Jefferson ──</h1>
                <p class="font-ibm">Software Engineer, currently studying at 42 Warsaw.</p>
            </section>
        </div>
        <div class="col-span-2 row-span-2 col-start-4 bg-primary rounded-2xl">2</div>
        <div class="col-span-2 row-span-2 col-start-6 bg-primary rounded-2xl">3</div>
        <div class="col-start-8 bg-primary rounded-2xl">
            <a class="text-black h-full w-full flex justify-center items-center" href="https://github.com/YetonDew" target="_blank" aria-label="github" title="github YetonDew">
                <Github />
            </a>
        </div>
        <div class="col-start-9 bg-primary rounded-2xl">
            <a class="text-black h-full w-full flex justify-center items-center" href="https://www.linkedin.com/in/yeton/" target="_blank" aria-label="linkedin" title="linkedin YetonDew">
                <Linkedin />
            </a>
        </div>
        <div class="col-start-10 bg-primary rounded-2xl">
            <a class="text-black h-full w-full flex justify-center items-center" href="https://www.linkedin.com/in/yeton/" target="_blank" aria-label="linkedin" title="linkedin YetonDew">
                <Mail />
            </a>
        </div>
        <div class="col-span-2 row-span-2 col-start-1 row-start-3 bg-primary rounded-2xl">7</div>
        <div class="col-span-2 row-span-2 col-start-3 row-start-3 bg-primary rounded-2xl">8</div>
        <div class="col-span-3 row-span-2 col-start-8 row-start-2 bg-primary rounded-2xl">9</div>
        <div class="col-span-3 row-span-2 col-start-5 row-start-3 bg-primary rounded-2xl">10</div>
        <div class="col-span-3 row-span-2 col-start-1 row-start-5 bg-primary rounded-2xl">11</div>
        <div class="col-span-2 row-span-2 col-start-4 row-start-5 bg-primary rounded-2xl">12</div>
        <div class="col-span-2 row-span-2 col-start-6 row-start-5 bg-primary rounded-2xl">13</div>
        <div class="col-span-3 row-span-3 col-start-8 row-start-4 bg-primary rounded-2xl">14</div>
    </div>

</section>