<section class="bg-primary-light min-h-screen">

    <div class="grid grid-cols-10 grid-rows-6 gap-4 px-25 py-15">
        <div class="col-span-3 row-span-2 bg-primary rounded-2xl h-[200px]">1</div>
        <div class="col-span-2 row-span-2 col-start-4 bg-primary rounded-2xl">2</div>
        <div class="col-span-2 row-span-2 col-start-6 bg-primary rounded-2xl">3</div>
        <div class="col-start-8 bg-primary rounded-2xl">4</div>
        <div class="col-start-9 bg-primary rounded-2xl">5</div>
        <div class="col-start-10 bg-primary rounded-2xl">6</div>
        <div class="col-span-2 row-span-2 col-start-1 row-start-3 bg-primary rounded-2xl">7</div>
        <div class="col-span-2 row-span-2 col-start-3 row-start-3 bg-primary rounded-2xl">8</div>
        <div class="col-span-3 row-span-2 col-start-8 row-start-2 bg-primary rounded-2xl">9</div>
        <div class="col-span-3 row-span-2 col-start-5 row-start-3 bg-primary rounded-2xl">10</div>
        <div class="col-span-3 row-span-2 col-start-1 row-start-5 bg-primary rounded-2xl">11</div>
        <div class="col-span-2 row-span-2 col-start-4 row-start-5 bg-primary rounded-2xl">12</div>
        <div class="col-span-2 row-span-2 col-start-6 row-start-5 bg-primary rounded-2xl">13</div>
        <div class="col-span-3 row-span-3 col-start-8 row-start-4 bg-primary rounded-2xl">14</div>
    </div>

</section>