---
import Mapa from "./Map.jsx";
---

<div
  class="h-48 lg:h-auto bg-primary dark:bg-zinc-900 rounded-2xl overflow-hidden lg:col-span-2 lg:row-span-2 lg:col-start-4"
>
  <Mapa client:only="react" />
</div>
