<div
  class="overflow-hidden h-48 lg:h-auto rounded-2xl
            bg-gradient-to-br from-cyan-500 via-cyan-200 to-cyan-700
            dark:from-gray-900 dark:via-cyan-700 dark:to-gray-900
            lg:col-span-3 lg:row-span-2 lg:col-start-8 lg:row-start-2"
>
  <a href="#" class="relative block w-full h-full group">
    <img
      src="/assets/orihuela_iphone.png"
      alt="orihuela.pl"
      class="w-full scale-210 absolute -bottom-20 -right-20 group-hover:rotate-12 group-hover:scale-280 transition-transform"
    />
  </a>
</div>
