<div
  class="h-56 bg-primary dark:bg-zinc-900 rounded-2xl relative overflow-hidden lg:h-auto lg:col-span-2 lg:row-span-2 lg:col-start-1 lg:row-start-3"
>
  <img
    src="/assets/me_light.jpg"
    alt="YetonDew"
    class="absolute -top-7 dark:hidden object-[center_-20%]"
  />
  <img
    src="/assets/me.jpg"
    alt="YetonDew"
    class="absolute -top-7 hidden dark:block"
  />
</div>
