---
import Github from "../assets/github.astro";
import Linkedin from "../assets/linkedin.astro";
import Mail from "../assets/mail.astro";
---

<div
  class="grid grid-cols-3 gap-2 h-18 px-1 sm:gap-3 sm:h-14 sm:px-0 lg:contents"
>
  <div class="bg-purple-500 dark:bg-zinc-900 rounded-2xl lg:col-start-8">
    <a
      class="social-link text-white dark:text-zinc-400 h-full w-full flex justify-center items-center dark:hover:text-white transition-colors"
      href="https://github.com/YetonDew"
      target="_blank"
      aria-label="github"
      title="github YetonDew"
    >
      <Github />
    </a>
  </div>
  <div class="bg-blue-dark dark:bg-zinc-900 rounded-2xl lg:col-start-9">
    <a
      class="social-link text-white dark:text-zinc-400 h-full w-full flex justify-center items-center dark:hover:text-white transition-colors"
      href="https://www.linkedin.com/in/yeton/"
      target="_blank"
      aria-label="linkedin"
      title="linkedin YetonDew"
    >
      <Linkedin />
    </a>
  </div>
  <div class="bg-orange dark:bg-zinc-900 rounded-2xl lg:col-start-10">
    <a
      class="social-link text-white dark:text-zinc-400 h-full w-full flex justify-center items-center dark:hover:text-white transition-colors"
      href="https://www.linkedin.com/in/yeton/"
      target="_blank"
      aria-label="mail"
      title="mail YetonDew"
    >
      <Mail />
    </a>
  </div>
</div>

<style>
  @media (max-width: 640px) {
    .social-link :global(svg) {
      width: 34px;
      height: 34px;
    }
  }
</style>
