---
import Toggle from "./Toggle.astro";
---

<div
  class="py-4 lg:py-0 bg-primary dark:bg-zinc-900 rounded-2xl flex justify-center items-center lg:col-span-2 lg:row-span-2 lg:col-start-6 lg:row-start-5"
>
  <Toggle />
</div>
